/* Estilos personalizados */

/* Fondo oscuro */
body {
  background-color: #343a40;
}

/* Color de texto claro */
.text-white {
  color: #fff;
}

/* Márgenes para los encabezados de sección */
section {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Ajuste para el ancho de las tarjetas */
.card {
  width: 100%;
}

/* Altura de las tarjetas */
.card
.contenido {
  height: 100%;
}

/* Títulos de sección centrados */
h2.text-center {
  text-align: center;
}

/* Separación de contenido en la sección Acerca de mi */
#acerca-de-mi p {
  margin-bottom: 30px;
}

/* Alineación de la información de contacto */
/* #contact p {
  margin-bottom: 10px;
} */

/* Estilos de botón personalizados */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Cambio de color de los enlaces al pasar el cursor */
a:hover {
  color: #007bff;
}

/* Estilos de tarjeta personalizados */
.card {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
}

.card-header {
  background-color: #343a40;
  border-color: #343a40;
  color: #fff;
}

.card-body {
  border-color: #343a40;
}

.card-title {
  color: #fff;
}

.card-text {
  color: #dee2e6;
}

.card-link {
  color: #fff;
}

.card-link:hover {
  color: #007bff;
}

/* Contacto */

#red-social{
  height: 100%;
  width: 40%;
}

#img-tech{
  height: 120px;
}

